@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia Pro Bold Az.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia Pro Light Az.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia Pro Medium Az.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia Pro Regular Az.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia Pro Semi Bold Az.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf") format("opentype");
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Sofia Pro";
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    background: #0D0D0D;
    min-height: 100vh;
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    background-position: center;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.blur_bg_1 {
    position: absolute;
    width: 1108px;
    height: 95vh;
    left: 0px;
    top: 37px;
    background-image: url('../img/blur_bg_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
}

.blur_bg_2 {
    position: absolute;
    width: 1108px;
    height: 95vh;
    right: 0px;
    top: 37px;
    background-image: url('../img/blur_bg_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 9;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 28px;
}

.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_logo img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.header_logo h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.04em;
}

.header_right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_right_audited {
    width: 102px;
    height: 31px;
    margin-right: 24px;
}

.header_right_wallet {
    width: 193px;
    height: 44px;
    margin-right: 44px;
    background: #2FBB99;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.header_right_wallet img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.header_right_wallet p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.04em;
}

.main {
    margin-top: 75px;
}

.main_title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
}

.main_title h1 span {
    overflow: hidden;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 118.88%);
    mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 118.88%);
}

.main_title h1 span:nth-child(1) {
    -webkit-mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 160.88%);
    mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 160.88%);
}

.main_title p {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
}

.main_title p span:nth-child(1) {
    -webkit-mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 120.88%);
    mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 120.88%);
}

.main_title p span:nth-child(2n) {
    -webkit-mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 118.88%);
    mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 118.88%);
}

.btn_wheel {
    margin: 0 auto;
    margin-top: 28px;
    width: 193px;
    height: 53px;
    text-align: center;
    background: #2FBB99;
    box-shadow: 0px 5px 70px rgba(30, 187, 149, 0.5);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 19px */
    text-align: center;
    letter-spacing: -0.04em;
    -webkit-box-shadow: 0px 3px 0px 0px #1E8068;
    box-shadow: 0px 3px 0px 0px #1E8068;
    align-items: center;
    display: grid;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.partners_item:nth-child(4n) img {
    height: 29px;
}

.wheel {
    width: 55vw;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.partners {
    padding-bottom: 26px;
    z-index: -1;
}

.partners h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.partners_items {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.partners_item {
    width: 235px;
    height: 80px;
    background: #181818;
    border-radius: 10px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.partners_item img {
    width: 136px;
    height: 42px;
}

.partners_item:nth-child(1) {
    -webkit-mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 110.88%);
    mask-image: linear-gradient(270deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 110.88%);
}

.partners_item:nth-child(6n) {
    -webkit-mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 110.88%);
    mask-image: linear-gradient(90deg, #0D0D0D 12.75%, rgba(13, 13, 13, 0) 110.88%);
}

.partners_item:nth-last-child() img {
    width: 127px;
    height: 29px;
}

.price {
    padding-top: 55px;
}

.price_img {
    width: 290.6px;
    height: 290px;
    margin: 0 auto;
    text-align: center;
}

.price_img img {}

.price_btns {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_wheel--style-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 21px;
    width: 234px;
    height: 53px;
    background: #2FBB99;
    box-shadow: 0px 5px 45px rgba(30, 187, 149, 0.7);
    border-radius: 8px;
    margin-top: 0;
    margin-left: 0;
}

.btn_wheel--style-2 img {
    width: 24px;
    height: 24px;
    margin-right: 9px;
}

.btn_wallet--style-2 {
    background: #FF1C5E;
    box-shadow: 0px 5px 45px rgba(255, 28, 94, 0.7);
    border-radius: 8px;
    width: 235px;
    height: 53px;
    margin-right: 0;
}

.arrow-up {
    position: absolute;
    width: 35px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    z-index: 1111;
    top: -2px;
}

.wheel_items {
    display: none;
}

.wheel_items * {
    position: absolute;
}

.wheel_items_dashed {
    opacity: 1;
    border: 3px dashed #524F46;
    width: 90%;
    height: 700px;
    border-radius: 100%/100%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

.wheel_items_dashed--style-2 {
    border: 3px dashed #20201E;
    height: 85%;
    position: absolute;
    top: 47px;
    z-index: -1;
}

.wheel_items svg {
    margin-left: 100px;
    z-index: 11;
}

.wheel_item img {
    width: 85.05px;
    height: 85.11px;
}

.wheel_w img {
    width: 50px;
    padding: 1px;
    height: auto;
    position: relative;
}

.wheel_w {
    background: #020202;
    border-radius: 3.99201px;
    width: 52px;
    position: relative;
    width: 100%;
}

.wheel_w * {
    position: relative;
}

.wheel_w_name,
.wheel_w_collection {
    font-style: normal;
    font-weight: 700;
    font-size: 5.32268px;
    line-height: 6px;
    text-align: center;
    letter-spacing: -0.04em;
}

.wheel_w_collection {
    margin-top: 7px;
    padding-bottom: 4.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.99601px;
    line-height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #474747;
}

.wheel_w::after {
    content: '';
    width: 100%;
    height: 103%;
    position: absolute;
    top: -2px;
    z-index: -1;
    box-shadow: 2px 2px 1px #222222;
    border-radius: 4.99001px 4.99001px 3.99201px 4.99001px;
}

.wheel_item {
    /* filter: drop-shadow(0px 2.90585px 50.8524px rgba(116, 36, 165, 0.4)); */
    /* transform: rotate(-23.13deg) translate(-50%, 0%); */
    transition: transform 1s;
}

@keyframes play {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.anim-play {
    animation: 4s play infinite linear;
}

.popup {
    /* display: none; */
}

.popup_mask {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 11;
    display: none;
}

.popup_wrap {
    width: 480px;
    /*height: 721px;*/
    background-color: #FFFFFF;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 40px 20px;
    box-sizing: border-box;
    display: none;
}

.popup_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup_header p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */
    color: #07141F;
}

.popup_header img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup_container {
    margin-top: 32px;
}

.popup_container .win_btns {
    justify-content: center;
}

.wallet_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallet_item {
    width: 210px;
    height: 92px;
    background: #E9E9E9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.wallet_item img {
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 auto;
}

.wallet_item p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #0D0D0D;
    margin-top: 12px;
}

.wallet_more {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.wallet_more img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.wallet_more a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #0D0D0D;
}

.popup_price .popup_mask {
    display: none;
    z-index: 10;
}

.popup_price .popup_wrap {
    display: none;
    z-index: 10;
}

.popup_price_header {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #0D0D0D;
    margin: 0 auto;
}

.popup_price_header span {
    color: #2fbb99;
}

.win_item {
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    width: 148px;
    border-radius: 10.9693px;
    box-sizing: border-box;
    margin-bottom: 75px;
    z-index: 11;
}

.z-index-9 {
    z-index: 9;
}

.win_item_w {
    transform: matrix(1, 0.27, 0, 0.97, 0, 0);
    background: #020202;
    border-radius: 10.9693px;
    box-shadow: 6px -5px 0px 1px #222222, 0px 5px 7px 0px rgba(0, 0, 0, 0.6);
}

.win_item::after {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 270.04px;
    height: 135.45px;
    background-image: url(../img/stand.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: matrix(1, 0.06, 0, 0.97, 0, 0);
    z-index: -1;
    left: -62px;
}

.win_item_img {
    position: relative;
}

.win_item_img img {
    width: 100%;
    height: 175.51px;
    border-radius: 10.9693px 10.9693px 11px 11px;
}

.item_price {
    position: absolute;
    left: 17px;
    font-size: 22px;
    top: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
    box-shadow: inset 0px 0px 30px 10px lightcoral;
    padding: 4px;
    border-radius: 10px;
}

.btn_claim {
    cursor: pointer;
}

.item_price span {
    font-size: 20px;
}

.win_item_name {
    margin-top: 5px;
    background: linear-gradient(96.39deg, #1C1C1C -9.54%, #FFFFFF 49.6%, #303030 105.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.6258px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.04em;
}

.win_item_collection {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 7.48466px;
    line-height: 7px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.04em;
    color: #969697;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.win_btns {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.popup_price .popup_wrap {
    background-image: url('../img/win_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.win_btns .header_right_wallet {
    margin-right: 0;
}

.popup_price .popup_wrap {
    border-radius: 26px;
    width: 480px;
    height: 559px;
    box-sizing: border-box;
}

.bg_pink {
    background-color: #FF1C5E !important;
}

.bg_green {
    background-color: #2FBB99 !important;
}

.win_item--dn {
    display: none;
}

.wheel_wrap_item {
    width: 200px;
    border-radius: 10px;
}

.shadow--style-1 {
    box-shadow: inset 0px 0px 30px 1px cornflowerblue;
}

.shadow--style-2 {
    box-shadow: inset 0px 0px 30px 1px lightcoral;
}

.shadow--style-3 {
    box-shadow: inset 0px 0px 30px 1px lightyellow;
}

.win_item_img {
    text-align: center;
}

.win_item_img img {
    width: 90%;
    margin-top: 10px;
}

.wheel_wrap {
    width: 54vw;
    margin: 0 auto;
    border: 0px solid silver;
    display: none;
    grid-auto-flow: column;
    /* overflow-x: hidden; */
    grid-gap: 10px;
}

.wheel {
    position: relative;
    mask-image: linear-gradient(90deg, #0D0D0D 53.75%, rgba(13, 13, 13, 0) 102.88%);
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, color-stop(0, transparent), color-stop(.15, rgba(0, 0, 0, .5)), color-stop(.25, black), color-stop(.75, black), color-stop(.85, rgba(0, 0, 0, .5)), color-stop(1, transparent));
    z-index: 10;
    margin-top: 17vh;
    margin-bottom: 13vh;
}


/* .wheel::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    border: 1px solid silver;
    right: -20px;
    top: 0;
    mask-image: linear-gradient(90deg, #0D0D0D 53.75%, rgba(13, 13, 13, 0) 102.88%);
    -webkit-mask-image: linear-gradient(90deg, #0D0D0D 53.75%, rgba(13, 13, 13, 0) 102.88%);
} */

@media screen and (max-width: 1400px) {
    .partners_item {
        width: 200px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .blur_bg_1 {
        width: 90vw;
    }
    .blur_bg_2 {
        width: 90vw;
    }
    .partners_items {
        flex-wrap: wrap;
    }
    .partners_item {
        margin-top: 15px;
        width: 160px;
    }
    .header_logo {
        position: initial;
        transform: initial;
        justify-content: center;
    }
    .remove-1200 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .wheel_items_dashed {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    header {
        grid-template-columns: 3fr;
        padding-top: 20px;
    }
    .header_logo {
        position: initial;
        transform: initial;
        justify-content: center;
    }
    .header_logo h2 {
        font-size: 20px;
    }
    .header_logo img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    .header_right {
        margin-top: 19px;
    }
    .header_right_wallet {
        width: 118px;
        height: 34px;
    }
    .price_btns .header_right_wallet {
        width: 139px;
        height: 36px;
        margin-top: 10px;
    }
    .header_right_wallet p {
        font-size: 12px;
    }
    .header_right_wallet img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
    .main {
        margin-top: 41px;
    }
    .wheel {
        height: auto;
    }
    .main_title h1 {
        font-size: 48px;
        line-height: 48px;
    }
    .main_title p {
        font-size: 16px;
        line-height: 16px;
    }
    .mobile_display-none {
        display: none;
    }
    .wheel_items_dashed {
        width: 77%;
        height: 500px;
    }
    .wheel_w img {
        width: 35px;
    }
    .price_btns {
        flex-direction: column;
        margin-top: 55px;
    }
    .arrow-up {
        width: 35px;
    }
    .btn_wheel {
        width: 139px;
        height: 36px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .btn_wallet--style-2 {
        margin-right: 0;
    }
    .wheel {
        width: 90vw;
    }
    .partners h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .partners_item {
        width: 104px;
        height: 44px;
    }
    .partners_item img {
        width: 69px;
        height: auto;
    }
    .partners_items {
        margin-top: 12px;
    }
    .partners_item:nth-child(4n) img {
        height: 16px;
    }
    .partners {
        padding-bottom: 42px;
    }
    .header_right {
        justify-content: center;
    }
    .header_right_wallet {
        margin-right: 0;
    }
    .btn_wheel--style-2 {
        margin-right: 0;
    }
    .popup_wrap {
        width: 100%;
    }
    .partners_item {
        margin-right: 0;
    }
    .popup_container .win_btns {
        justify-content: center;
    }
    .btn_claim {
        width: 142px;
        height: 34px;
        font-size: 12px;
    }
    .wallet_item {
        width: 42vw;
    }
    .popup_container {
        margin-top: 9px;
    }
    .popup_price .popup_wrap {
        width: 100%;
    }
    .partners_item:nth-child(1) {
        -webkit-mask-image: none;
        mask-image: none;
    }
    .partners_item:nth-child(6n) {
        -webkit-mask-image: none;
        mask-image: none;
    }
    .wheel_wrap {
        width: 60vw;
    }
    .wheel {
        margin-bottom: 5vh !important;
        margin-top: 7vh;
    }
}

@media screen and (max-height: 920px) {
    .wheel {
        margin-bottom: 10vh;
    }
}

@media screen and (max-height: 866px) {
    .wheel {
        margin-bottom: 5vh;
    }
}

@media screen and (max-height: 811px) {
    .wheel {
        margin-bottom: 1vh;
    }
}

@media screen and (max-height: 770px) {
    .wheel {
        margin-top: 5vh;
    }
}